@charset "utf-8";
@import "partials/framework";
@import "partials/variable";
@import "partials/fonts";
@import "partials/icons";
@import "partials/base";

.container{
  position: relative;
  padding-top: 50px;
}
.qs-1{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 240px;
  border: 2px solid black;
  text-align: center;
  overflow: hidden;
}
.age{
  text-align: center;
  padding: 0 5px;
}
.check{
  display: block;
  margin: 20px auto;
}
.next{
  margin: 0 auto;
  opacity: 0;
}
.vis{
  opacity: 1;
  display: block;
  visibility: visible;
}
.gendolf{
  visibility: hidden;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  z-index: 0;
  opacity: 0;
  transition: all .5s;
}
.modal{
  position:relative;
  margin: 50px auto;
  width: 600px;
  height: 245px;
  background-image: url(https://a.d-cd.net/41fdf04s-960.jpg) ;
  border: 5px solid red;
}
.modal_window{
  position: relative;
  .modal_close{
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.open{
  display: block;
}
.okayleft, .okayright{
  position: absolute;
  width: 150px;
  height: 150px;
  img{
    width: 100%;
    height: 100%;
  }
}
.okayleft{
  top:90px;
  left: -155px;
}
.okayright{
  top: 90px;
  right: -155px;
}
.animR{
  transition: all 1.5s linear;
  top: 90px;
  right: 0;
}
.animL{
  transition: all 1.5s linear;
  top: 90px;
  left: 0;
}


.slider_cont{
    visibility: hidden;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 0;
    opacity: 0;
    transition: all .5s;
}
.modal_cont{
  position: relative;
  width: 600px;
  height: 400px;
  margin: 50px auto;
}
.slider{
  position: relative;
  background-color: yellow;
  border:2px solid  #129FEA;
  width: 600px;
  height: 400px;
  .item {
    margin-top: 50px;
    background-color: green;
    height: 300px;
    text-align: center;
    h6{
      padding: 130px;
    }
  }
}
.slick-prev, .slick-next{
  position: absolute;
  z-index: 1;
  top: 50%;
}
.slick-prev{
  left: 10px;
}
.slick-next{
  right: 10px;
}
.close_modal_window {
  position: absolute;
  color: #aaa;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.modal-vis {
  visibility: visible;
  z-index: 1000;
  opacity: 10;
}

//Tabs

.tabs {
  overflow: hidden;
  font-size: 20px;
  border: 3px solid black;
  margin: 50px auto;
  width: 900px;
  height: 300px;
}
.cont{
  width: 100%;
  display: none;
  border-top: 1px solid #e0e0e0;
}

.tabs>input[type="radio"] {
  display: none;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4 {
  display: block;
}

.tabs>label {
  display: inline-block;
  border: 1px solid #e0e0e0;
  padding: 2px 8px;
  font-size: 25px;
  color: #2a6162;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]:checked+label {
  background-color: #fff;
  border-bottom: 1px solid transparent;
}

//Clip Path
.clip_cont{
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  img{
    width: 100%;
    height: 100%;
  }
}
.clip{
  width: 200px;
  height: 200px;
  background-color: cadetblue;
}
.clip_1{
  clip-path: polygon(3% 32%, 10% 22%, 20% 16%, 30% 12%, 45% 12%, 50% 4%, 61% 7%, 71% 13%, 84% 9%, 91% 7%, 98% 17%, 93% 26%, 92% 38%, 91% 50%, 86% 59%, 82% 71%, 80% 83%, 81% 96%, 70% 100%, 58% 100%, 47% 100%, 36% 100%, 23% 100%, 10% 100%, 0% 94%, 2% 83%, 0% 71%, 0% 59%, 0% 48%);
}
.clip_2{
  clip-path: polygon(2% 21%, 9% 13%, 22% 9%, 33% 13%, 42% 20%, 49% 30%, 60% 35%, 68% 34%, 82% 38%, 95% 44%, 96% 55%, 93% 66%, 92% 74%, 87% 83%, 81% 90%, 75% 97%, 68% 96%, 61% 94%, 59% 90%, 57% 83%, 50% 91%, 41% 94%, 30% 94%, 23% 89%, 16% 79%, 11% 63%, 6% 51%, 3% 38%);
}
.clip_3{
  clip-path: polygon(6% 19%, 6% 19%, 15% 18%, 34% 17%, 56% 17%, 75% 23%, 92% 24%, 99% 41%, 94% 48%, 89% 62%, 80% 75%, 65% 90%, 46% 96%, 27% 91%, 15% 81%, 6% 72%, 4% 55%, 2% 37%, 6% 27%);
}

//checkbox

.container {
  display: block;
  position: relative;
  padding:5px 35px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.container {
  .input_check {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container input:checked ~ .checkmark {
  background-color: cadetblue;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//input
.info{
  margin: 50px 350px;
}
.name{
  border: 3px solid cadetblue;
  padding: 5px 10px;
  border-radius: 30px;
  color: #1e6769;
  font-weight: bold;
  text-shadow: 2px 2px 4px #b6e8ea;
}
.input_name{
  display:block;
  width: 145px;
  margin: 20px 0;
  outline: none;
  border: 3px solid cadetblue;
  border-radius: 30px;
  padding: 5px 10px;
  &:focus{
    background-color: #B6E8EA;
  }
}
//animation
.box_button{
  position: relative;
  margin: 80px 400px;
  width: 120px;
  height: 100px;
}
.start{
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px 20px;
  color: #153335;
  font-weight: bold;
  text-transform: uppercase;
  background-color:cadetblue;
  border:3px solid #153335;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  z-index: 1;
  &:hover{
    top:8px;
    transition-duration: 0.5s;
  }
}
.start_down{
  position: absolute;
  top: 10px;
  left: 7px;
  width: 110px;
  height: 50px;
  background-color: #153335;
  border-radius: 20px;
  cursor: pointer;
}
.hidden{
  display:none;
}
.mult{
  .mult_window{
    position: relative;
    .sky{
      position: absolute;
      background-color: black;
      width: 100%;
      height:205px;
      top:0;
      animation-name: sky-anim;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-play-state: running;
    }
    @keyframes sky-anim {
      0%{background-color: black;}
      10%{background-color: #122770;}
      20%{background-color: #253672;}
      30%{background-color: #b5bbcf;}
      50%{background-color: #aad8ef;}
      70%{background-color: #aadaf1;}
      80%{background-color: #d2baf5;}
      90%{background-color: #122770;}
      100%{background-color: black;}
    }
    .grass{
      position: absolute;
      background-color: #083708;
      width: 902px;
      height:100px;
      top: 158px;
      clip-path: polygon(1% 20%, 3% 16%, 5% 14%, 8% 7%, 10% 6%, 13% 13%, 15% 18%, 18% 21%, 20% 23%, 23% 21%, 25% 20%, 27% 13%, 29% 13%, 31% 13%, 33% 17%, 36% 17%, 38% 14%, 40% 11%, 43% 8%, 45% 8%, 47% 14%, 50% 19%, 52% 24%, 54% 26%, 56% 26%, 58% 27%, 61% 26%, 63% 26%, 65% 26%, 67% 25%, 69% 23%, 71% 16%, 73% 14%, 76% 11%, 78% 16%, 80% 20%, 83% 23%, 85% 24%, 87% 24%, 90% 25%, 93% 27%, 95% 31%, 98% 41%, 100% 46%, 100% 99%, 0% 98%, 0% 100%, 0% 33%);
      animation-name: grass-anim;
      animation-duration: 7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-play-state: running;
    }
    @keyframes grass-anim {
      0%{background-color: #083708;}
      10%{background-color: #106210;}
      20%{background-color: #188f18;}
      30%{background-color: #2aab2a;}
      50%{background-color: #26d026;}
      70%{background-color: #2aab2a;}
      80%{background-color: #20a020;}
      90%{background-color: #1d9d1d;}
      100%{background-color: #083708;}
    }
    .sun{
      width: 50px;
      height: 50px;
      background-color: #eeee5c;
      border-radius: 50px;
      position: absolute;
      top:150px;
      left: -55px;
      animation-name: sun-anim;
      animation-duration: 7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-play-state: running;
      animation-fill-mode: backwards;
    }
    @keyframes sun-anim {
      0%{top:150px;
        left: -55px;}
      25%{top:100px;
        left: 100px;}
      50%{top:80px;
        left: 200px;}
      75%{top:70px;
        left: 300px;}
      100%{top:60px;
        left: 400px;}
    }
    .moon{
      width: 4em;
      height: 4em;
      margin: -2em 1em 1em 0;
      border-radius: 50%;
      box-shadow: 1em 1em 0 0 #eeeeae;
      position: absolute;
      top:50px;
      left: 500px;
      animation-name: moon-anim;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-play-state: running;
      animation-fill-mode: backwards;
    }
    @keyframes moon-anim {
      0%{top:50px;
        left: 400px;}
      25%{top:60px;
        left: 500px;}
      50%{top:70px;
        left: 700px;}
      75%{top:90px;
        left: 800px;}
      100%{top:90px;
        left: 1000px;}
    }
    .cloud{
      width: 100px;
      height: 50px;
      background-color: #129dff;
      position: absolute;
      top:10px;
      right: -10px;
      animation-name: cloud-anim;
      animation-duration: 7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-play-state: running;
      animation-fill-mode: backwards;
    }
    @keyframes cloud-anim {
      0%{top:10px;
        right: 10px;}
      100%{top:10px;
        right: 1000px;}
    }
  }
}


@import "partials/media_min_768";
@import "partials/media_min_1024";
@import "partials/media_min_1280";
@import "partials/media_other";