//= template/head.html
//= template/header.html

<div class="container">
    <div class="qs-1">
        <h1>Введите ваш возраст:</h1>
        <input class="age" id="age">
        <button class="check" id="check">Проверить</button>
        <button class="next" id="next">Продолжить</button>

        <div class="gendolf" id="gendolf">
            <div class="modal " id="modal">
                <div class="modal_window">
                    <span class="close_modal_window" id="close_modal_window1">×</span>
                </div>
            </div>
        </div>
        <div class="okayleft" id="okayleft"><img src="https://101zabava.club/wp-content/uploads/2019/03/layka_mem_4_14050507-600x554.jpg" alt=""></div>
        <div class="okayright" id="okayright"><img src="https://cdn6.aptoide.com/imgs/3/9/d/39d1ca4e421a338ac5c8a0c2bc78d210_icon.png" alt=""></div>
        <!--   сделать инпут, который проверяет сколько вам лет, и будет выводить предупреждение,
        если вам мешьше 18, тор ты мал, иди рости,
        если больше 18, то все ок, и показываем скрытую кнопку, которая вызывает мобоалку со слайдером, в котором будет пару картинок     -->
    </div>
    <div class="slider_cont" id="slider_cont">
        <div class="modal_cont">
            <span class="close_modal_window" id="close_modal_window">×</span>
            <div class="slider">
                <div class="item item1"><h6>Слайд 1</h6></div>
                <div class="item item2"><h6>Слайд 2</h6></div>
                <div class="item item3"><h6>Слайд 3</h6></div>
            </div>
        </div>
    </div>




    <div class="qs-2">
        <div class="tabs">
            <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
            <label for="tab-btn-1">Clip Path</label>
            <input type="radio" name="tab-btn" id="tab-btn-2" value="">
            <label for="tab-btn-2">Checkbox</label>
            <input type="radio" name="tab-btn" id="tab-btn-3" value="">
            <label for="tab-btn-3">Input</label>
            <input type="radio" name="tab-btn" id="tab-btn-4" value="">
            <label for="tab-btn-4">Amimation</label>


            <div class="cont" id="content-1">
                <div class="clip_cont">
                    <div class="clip clip_1">
                        <img src="https://svgsilh.com/svg/3303720.svg" alt="">
                    </div>
                    <div class="clip clip_2">
                        <img src="https://www.svgx.ru/svg/2719907.svg" alt="">
                    </div>
                    <div class="clip clip_3">
                        <img src="https://svgsilh.com/svg/2663432.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="cont" id="content-2">
                <label class="container">То
                    <input class="input_check" type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>

                <label class="container">Сё
                    <input class="input_check" type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <label class="container">5е
                    <input class="input_check" type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <label class="container">10е
                    <input class="input_check" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cont" id="content-3">
                <form class="info">
                    <span class="name">You first name:</span>
                    <input class="input_name" type="text">
                    <span class="name">You last name:</span>
                    <input class="input_name" type="text">
                </form>
            </div>
            <div class="cont" id="content-4">
                <div class="box_button">
                    <button class="start">start</button>
                    <span class="start_down"></span>
                </div>
                <div class="mult ">
                    <div class="mult_window">
                        <div class="sky"></div>
                        <div class="grass"></div>
                        <div class="sun"></div>
                        <div class="moon"></div>
                        <div class="cloud"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--   сделать табы, (3-4)  в которых будут находиться задания:
           на клип пас
           па стилизованый чек бокс
           на инпут
           на анимируваные элементы
           -->
    </div>

    <div class="qs-3">
        <!--   то что ты хочешь пр практиковаться     -->
    </div>
</div>

//= template/footer-content.html
//= template/modals.html
//= template/footer.html